# ApplyFlow local infrastructure
# Used by applyflow/docker-compose.yml.

POSTGRES_DB=applyflow
POSTGRES_USER=applyflow
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

RABBITMQ_USER=applyflow
RABBITMQ_PASSWORD=change-me
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
